
.container {
    max-width: 100% !important;
}

body {
    /* background-color: rgba(98, 0, 0, 0.76); */
    margin: 0;
    z-index: 0;
}

body .row {
    display: block !important;
}

body::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.adv {
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
}

.advv {
    position: absolute;
    width: 400px;
    left: 7.5%;
    top: 200px;
    font-size: 12px;
    opacity: .8;
    z-index: 2;
}

.advv p {
    color: rgba(98, 0, 0, 0.76);
    font-size: 12px;
    /* text-overflow: ellipsis;  */
    /* word-break: break-word; */
}

.m1 {
    position: absolute;
    left: 5%;
    width: 450px;
    height: 200px;
    z-index: 2;
}

.m2 {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 550px;
}

.main {
    position: relative;
    display: flex;
    height: auto;
    width: auto;
}

.loc {
    width: 220px;
    height: auto;

}

.con {
    width: 100%;
    height: 52px;
    position: relative;
    align-items: center;
    display: flex;
    padding: 0 !important;
}

.tit {
    background: transparent;
    color: rgba(98, 0, 0, 0.76);
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 26px;
    border: 3px solid rgba(98, 0, 0, 0.76);
    border-radius: 15px;
    transform: translate(0);
    overflow: hidden;
    cursor: pointer;
    width: 200px;
    height: 52px;
    position: relative;
    left: 20px;
}

.tit:hover {
    background: rgba(98, 0, 0, 0.76);
    color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(98, 0, 0, 0.76),
        0 0 10px rgba(98, 0, 0, 0.76),
        0 0 15px rgba(98, 0, 0, 0.76),
        0 0 20px rgba(98, 0, 0, 0.76);
}

.fil {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    justify-content: center;
    list-style: none;
    padding: 20px;
}

.fil h3 {
    color: rgb(40, 83, 135);
    font-size: 22px;
    font-family: Arial, sans-serif;
    position: relative;
    justify-content: center;
    text-align: center;
    opacity: .8;
}

.search {
    position: relative;
    display: flex;
}

.search input {
    position: relative;
    top: 50%;
    left: 170px;
    text-transform: translate(-50%, -50%);
    color: rgba(98, 0, 0, 0.76);
    font-style: 16px;
    background: transparent;
    width: 250px;
    height: 30px;
    padding: 10px;
    border: solid 2.5px rgba(98, 0, 0, 0.76);
    border-radius: 35px;
    transition: all 0.5s;
}

.search input::-webkit-input-placeholder {
    color: rgba(98, 0, 0, 0.76);
    opacity: .7;
    transition: opacity 150ms ease-out;
}

.search datalist {
    color: rgba(98, 0, 0, 0.76);
}

.search .butsearch {
    position: relative;
    color: none;
    border: 0 !important;
    color: rgba(98, 0, 0, 0.76) !important;
    background-color: #fff !important;
    top: 50%;
    left: 180px;
}

.trap {
    position: relative;
    width: auto;
    height: auto;
    left: 40%;
}

.trap nav {
    display: block;
}

.fil p {
    display: inline;
}

.fil p label {
    color: rgba(98, 0, 0, 0.76);
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    white-space: nowrap;
    text-align: center;
    margin: 3px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.2s;
    padding: 8px 12px;
    cursor: pointer;
}

.fil p label:hover {
    border: 1px solid rgba(98, 0, 0, 0.76);
}

.fil p input[type="checkbox"]:checked+label {
    border: 1px solid rgba(98, 0, 0, 0.76);
    background-color: rgba(98, 0, 0, 0.76);
    color: #fff;
    transition: all 0.2s;
    opacity: .9;
}

.fil p input[type="radio"]:checked+label {
    border: 1px solid rgba(98, 0, 0, 0.76);
    background-color: rgba(98, 0, 0, 0.76);
    color: #fff;
    transition: all 0.2s;
    opacity: .9;
}

.fil p input[type="checkbox"] {
    display: absolute;
    position: absolute;
    opacity: 0;
}

.fil p input[type="radio"] {
    display: absolute;
    position: absolute;
    opacity: 0;
}

.line {
    background-color: rgba(98, 0, 0, 0.76);
    border-radius: 5px;
    width: 3px;
    height: auto;
}

.ver {
    width: 95%;
    height: 1px;
    background-color: #fff;
    border-radius: 15px;
    position: relative;
    left: 2.5%;
    margin: 10px 0;
}

.sp {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 228px);
    width: auto;
    height: fit-content;
    gap: 10px;
    padding: 16px;
    left: 1.1%;
}

.sp a {
    text-decoration: none;
}

.item {
    display: grid;
    width: 220px;
    height: 450px;
    border: 1px solid;
    border-color: rgba(98, 0, 0, 0.76);
    border-radius: 15px;
}

.picitem {
    width: 220px;
    height: 300px;
}

.picitem img {
    width: 218px;
    height: 300px;
    border-radius: 15px 15px 0 0;
}

.t {
    color: transparent;
}

.center {
    position: relative;
    width: 220px;
    display: flex;
    justify-content: space-between;
}

.inf {
    width: 175px;
    height: 100px;
    margin: 0;
    color: rgb(12, 13, 13);
    font-size: 12px;
    opacity: .6;
    overflow: hidden;
    padding: 5px 5px 10px 10px !important;
    /* text-overflow: ellipsis;
white-space: pre-line; */
}

.pri {
    width: 45px;
    height: 100px;
    padding: 0 5px 0 0;
    position: relative;
    color: rgb(26, 24, 24);
    font-size: 20px;
    font-family: cursive;
    opacity: .8;
    justify-content: center;
    padding-top: 30px;
    border-radius: 15px;
}

.addcart {
    height: 50px;
    display: flex;
    position: relative;
    width: 200px;
    bottom: 0;
    align-content: center;
    left: 10px;
}

.addcart form {
    margin: 0 !important;
}

.butadd {
    position: relative;
    width: 150px;
    height: 35px;
    font-size: 20px;
    border: 0 solid;
    top: 7px;
    border-radius: 15px;
    color: rgba(98, 0, 0, 0.76);
    border: 2px solid rgba(98, 0, 0, 0.76);
    background-color: #fff;
    text-align: center;
}

.butadd:hover {
    background: #fff;
    background-color: rgba(98, 0, 0, 0.76);
    color: rgb(255, 255, 255);
    border-radius: 25px;
    transition: 0.2s;
}

.fa {
    position: relative;
    display: flex;
    width: 50px;
    height: 40px;
    top: 5px;
    align-items: center;
    justify-content: center;
}

.fa>label>svg {
    width: 25px;
    height: 25px;
    color: #7a7a7a;
}

.fa label svg:hover {
    color: #ff5252;
}


.fa>input[type="checkbox"]:checked+label>svg {
    color: #ff5252;
    transition: all 0.2s;
    opacity: .9;
}

.fa>input[type="checkbox"] {
    display: absolute;
    position: absolute;
    opacity: 0;
}

.bt {
    position: relative;
    display: flex;
    justify-content: center;
    height: auto;
    margin: 25px 0;
    top: 25px;
}
